@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--theme-color: #C4E563;

	--bg-dark: #172A30;
	--bg-light: #F7F7E7;
	
}

body {
	font-family: 'Figtree', sans-serif;
}
